name: test

on:
  pull_request:
  push:
    tags-ignore:
      - '**'
    branches:
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: kevincobain2000/action-gobrew@v2
        with:
          version: 'mod'

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: latest

      - run: go mod tidy
      # - run: golangci-lint run ./...
      - run: go build
      - run: go test ./...