name: test

on:
  pull_request:
  push:
    tags-ignore:
      - '**'
    branches:
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: kevincobain2000/action-gobrew@v2
        with:
          version: 'mod'

      - name: Golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          skip-cache: true

      - run: go mod tidy
      # - run: golangci-lint run ./...
      - run: go build
      - run: go test ./...